<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MainPage</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

  
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/service.css">
   
    
    
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-ie6.css">
    <link rel="stylesheet" type="text/css" href="/css/ie.css">
    <![endif]-->
 
    <!--[if lte IE 8]>
    <script type="text/javascript" src="/js/bootstrap-ie.js"></script>
    <script src="/js/html5.js"></script>
    <script src="/js/json3.min.js"></script>
    <script src="/js/es5-shim.min.js"></script>
    <![endif]-->
   
    <script>
        function beforesend(){
            $('#apk_label').text('Uploading...');

            $('#upload_progress').html('<div class="row" ><div class="progress">\
                        <div class="bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">\
                       0%\
                        </div>\
                    </div></div>');
            $('#apk_modal').modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
            
        }
    </script>
    <!--<![endif]-->
    <script>
        function show_tips(content){
            $("#tips").html(content);
        }
        function show_modal(title, content, info){
            $('#apk_label').text(title);
            var data = {0:'fa-check',1: 'fa-exclamation', 2: 'fa-check', 3: 'fa-check'};
            var colors = {0: 'green', 1: 'red', 2: 'green', 3: 'green'} ;
            var s = '<div class="pull-left"><span class="fa-stack fa-lg">\
                                <i class="fa fa-circle fa-stack-2x" style="color: '+colors[info]+';"></i>\
                                <i class="fa '+ data[info]+' fa-stack-1x fa-inverse"></i></span></div>';

            $('.modal-body').html('<div class="row">' + s + '<div class="pull-left" style="margin-left: 20px;width: 470px;text-align: left">'+content+'</div></div>');
            if(info == 3){ //增加email显示
                s = '<hr><div class="row"><label for="txtEmail" class="pull-left" style="height: 30px;line-height: 30px;font-size: 16px;margin-right: 10px;">Email:</label><input type="email" class="input pull-left" id="txtEmail"><label id="lblEmail" for="chkEmail">' +
                    '<input type="checkbox" id="chkEmail">审计完成后邮件通知我</label></div><div id="tips"></div><hr> ';
                var t = $('.modal-body').html();
                $('.modal-body').html(t + s);
            }
            $('#apk_modal').modal({
                backdrop: 'static',
                keyboard: false,
                show: true
            });
        }
        $(function(){
            $('#txtFile').on('change', function(){
                var filename = $(this).val();
                if(filename == "")return;
                var reg_t = /.+\.apk$/ig;
                if(! reg_t.test(filename)){
                    return alert('只允许上传安卓APK包文件');
                }

                $('form').submit();
                $(this).attr("value", "");
            });
            $(".jg-query input.jg-query-text").on('keypress', function(evt){
                if(evt.which == 13){
                    $('.jg-query a.btn-query').click();
                }
            });
            //查询md5
            $('.jg-query a.btn-query').on('click', function(){
                var md5 = $('.jg-query input').val();
                var reg = /[a-f0-9]{32}/i;
                if(reg.test(md5)){
                    window.location.href = "../search/"+md5;
                }else{
                    alert('请输入正确MD5！');
                }
            });
            //关闭对话框的时候
            $(".modal").on("keyup", "#txtEmail", function(){
                var txt = $(this).val();
                var re = /\S+@\S+\.\S+/;
                var chk = $("#chkEmail");
                if (re.test(txt) && chk && !chk.prop("checked")){
                    chk.prop("checked", true);
                }
            });
            $("#apk_modal .btn-large").on("click", function(){


                window.location.href="../show";
                getprogress();
                var chk = $("#chkEmail");
                if (!chk){
                    return $('#apk_modal').modal('hide');
                };
                var checked = chk.prop('checked');
                if(!checked)
                    return $('#apk_modal').modal('hide');
                var aemail = $("#txtEmail").val();

                var re = /\S+@\S+\.\S+/;
                if (!re.test(aemail)){
                    show_tips('请输入正确的Email格式');
                    $("#txtEmail").focus();
                    return;
                }
                var data = {
                    email:aemail,
                    csrf_token:$(":hidden[name=csrf_token]").val()
                };
                $.ajax({
                    type: 'POST',
                    url: "/index.php/service/kk_email",
                    data: data,
                    success: function(r){
                        show_tips(r.data);
                        if(r.ret == 0){
                            return $('#apk_modal').modal('hide');
                        }
                    },
                    dataType: "json"
                });

            });
            $('form').ajaxForm({
                dataType: 'json',
                url: '/upload/',
                beforeSend: beforesend,
                uploadProgress: function(evt,pos, total,percent){//进度条
                    var b = $('.modal-body .progress .bar');
                    b.css('width', percent + '%');
                    b.attr('aria-valuenow', percent);
                    b.text(percent + '%');
                },success: function(r){
                
                    show_modal(r.msg, r.data, r.ret);
                },error: function(r){
                    if(r.readyState == 4){
                        if(r.status == 413){ //文件大小超出限制
                            show_modal('上传提示', '您上传的文件大小超出系统规定50M！', 1);
                        }
                    }
                }
            });
        });
    </script>
</head>
<body>
<!--[if lte IE 7]>
<div style="line-height:24px;width: 100%;padding: 10px;font-size: 20px;text-align: right;color: red;position: absolute;top: 0;left: 0" id="ietips" onclick="document.getElementById('ietips').style.display='none';">
    目前你使用的是低版本的IE浏览器内核，可能无法正常享受TSRC提供的服务！<br>请更换高版本浏览器，谢谢！点击隐藏提示！
</div>
<![endif]-->
<div class="row jg-banner">
    <div class="jg-func clearfix">
        <div class="pull-left jg-query clearfix">
            <input type="text" class="input-medium pull-left jg-query-text" maxlength="32" placeholder="Type md5 value to search">
            <a href="javascript:void(0)" class="pull-right btn-query" title="输入MD5来查询审计报告">
                Search
            </a>
        </div>

        <form action="/upload" method="post" accept-charset="utf-8" style="margin-left: 50px;float:left;position: relative; overflow: hidden;" enctype="multipart/form-data"><div style="display:none">

</div>        <input type="file" accept=".apk" id="txtFile" name="file">
        <label for="txtFile" class="btn btn-appcheck">
            Submit
        </label>
        </form>    </div>
</div>


<div id="apk_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="apk_label" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="apk_label">正在上传</h3>
    </div>
    <div id="upload_progress" class="modal-body">
        <div class="row"></div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-large">确定</button>
    </div>
</div>




<div class="row footer">
    <div id="footer">
        <p><a href="http://www.kaichen.org" target="_blank">About Us</a>|<a href="mailto:mabin@iie.ac.cn" target="_blank">Contact</a></p>
        <p>
            
            Copyright (C) 2014 Android Clone Detection Platform. All Rights Reserved
        </p>
       
    </div>
</div>




</body></html>